COMPOSE_PROJECT_NAME=zero-infra
TZ=Asia/Seoul

MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me_with_at_least_16_characters

MONGO_INITDB_ROOT_USERNAME=change_me
MONGO_INITDB_ROOT_PASSWORD=change_me_with_at_least_16_characters

REDIS_PASSWORD=change_me_with_at_least_32_random_characters

EXTERNAL_DB_HOST=211.46.52.151
EXTERNAL_DB_PORT=15432
EXTERNAL_DB_USER=team1
EXTERNAL_DB_NAME=postgres
EXTERNAL_SFTP_HOST=211.46.52.151
EXTERNAL_SFTP_PORT=2022
EXTERNAL_SFTP_USER=team1
